@use "./config/variables" as v;
@use "./common" as c;

/*********************************
メインビジュアル 
*********************************/



h2.sec_ttl {
	margin-top: 0;
	font-weight: normal;
}

/*********************************
	MV
*********************************/

.recruit_mv {
	width: 100%;
	height: 100vh;
	position: relative;

	.left_img {
		background-image: url(../../images/recruit/mv_left_img.jpg);
		height: 100%;
		width: 50%;
	}

	.right_img {
		background-image: url(../../images/recruit/mv_right_img.jpg);
		height: 100%;
		width: 50%;
	}

	img {
		width: 40%;
		height: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
	}
}

/*********************************
	Message
*********************************/

#message {
	background-color: #ED6D69;
	position: relative;
	padding-top: 3.4895%;
	padding-bottom: 8.333%;

	&::before {
		content: "";
		background-image: url(../../images/recruit/message_mask.png);
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		z-index: 1;
		opacity: 1;
		mix-blend-mode: multiply;
	}

	.container {
		position: relative;
		z-index: 40;
	}
}

ul.anchor_link {
	width: 1250px;
	margin: 0 auto;

	li {
		a {
			color: #000;
			font-size: clamp(14px, 1.6rem, 16px);
			letter-spacing: 0.2em;
		}

		position: relative;

		&::after {
			content: "";
			width: 1px;
			height: 100%;
			display: block;
			background: #000;
			position: absolute;
			top: 0;
			right: -33px;
		}
	}
}

@media screen and (max-width: 1560px) {
	ul.anchor_link {
		width: 82.05128%;

		li::after {
			right: -1vw;
		}
	}
}

@media screen and (max-width: 1330px) {
	ul.anchor_link {
		width: 90.05128%;

		li::after {
			right: -0.7vw;
		}
	}
}

@media screen and (max-width: 1200px) {
	ul.anchor_link {
		width: 90.05128%;

		li::after {
			right: -0.6vw;
		}
	}
}

.message_img {
	margin-top: 10.7051%;
	align-items: flex-start;
	justify-content: space-between;

	img {
		width: 100%;
	}

	figure {
		&.m_left_img {
			width: 49.80769%;
		}

		&.m_right_img {
			width: 46.98717%;
		}
	}
}

span.message_alpha {
	font-size: clamp(200px, 40rem, 400px);
	transform: rotate(90deg);
	position: absolute;
	right: -36%;
	top: 34vw;
	z-index: 300;
}

.message_text_wrap {
	justify-content: flex-start;
	align-items: flex-start;

	figure {
		width: 33.58974%;
		margin-top: -12.5%;

		img {
			width: 100%;
		}
	}

	p {
		width: 49.80769%;
		margin-right: 3%;
		font-size: clamp(14px, 1.8rem, 18px);
		letter-spacing: 0.1em;
		line-height: 2.222em;
		color: #0570b4;
		padding-top: 7.05128%;
	}
}

/*********************************
HOWTO
*********************************/

#howto {
	background-image: url(../../images/recruit/howto_bg.png);
	padding-top: 8.2051%;
	padding-bottom: 8.2051%;

	h2 {
		margin-bottom: 3.8461%;
	}
}

.howto_slider {
	width: 90.625%;
	margin-left: auto;
	overflow: hidden;
	padding-top: 100px;
	margin-top: -100px;
	@media screen and (max-width: 768px) {
		width: 89%;
		margin-left: auto;
		margin-right: auto;
	}
}


.slick-list {
	margin-left: -27%;
}

.howto_slider {
	.howto_child {
		margin-right: 50px;
		background-color: #EDE86D;
		box-sizing: border-box;
		padding-top: 1.4%;
		padding-left: 1.208333%;
		padding-right: 1.208333%;
		position: relative;
		/* padding-right: 0%; */
		padding-bottom: 1.3%;
		margin-right: 2%;
		margin-left: -0.5%;
		max-height: 460px;
		@media screen and (max-width: 768px) {
			margin-right: 0%;
			margin-left: 0%;
			padding: 104px 0 82px 0;
		}

		span.no {
			font-size: clamp(18px, 3.6rem, 36px);
			letter-spacing: 0.3em;
			font-family: 'roboto';
			font-weight: bold;
			display: inline-block;
			margin-bottom: 2rem;
			position: absolute;
			left: 8%;
			top: 15%;
		}

		h4 {
			font-size: clamp(20px, 2.8rem, 28px);
			letter-spacing: 0.2em;
			line-height: 2em;
			font-weight: bold;
			text-align: center;
		}

		p {
			font-size: clamp(12px, 1.4rem, 14px);
			line-height: 1.7em;
			letter-spacing: 0.1em;
			margin-top: 10%;

			span {
				background-color: #A0D990;
			}
		}
		img {
			position: absolute;
			right: 8%;
			top: 15%;
			@media screen and (max-width: 768px) {
				width: 40px;
			}
		}
	}

	.slick-prev {
		top: 8%;
		left: auto;
		right: 16%;
		width: 15px;
		height: 31px;
		z-index: 20;
		background-size: 15px 31px;
		background-repeat: no-repeat;
		background-image: url(../../images/recruit/prev.svg);

		&::before {
			display: none;
		}
	}

	.slick-next {
		top: 8%;
		left: auto;
		right: 8%;
		width: 15px;
		height: 31px;
		z-index: 20;
		background-size: 15px 31px;
		background-repeat: no-repeat;
		background-image: url(../../images/recruit/next.svg);

		&::before {
			display: none;
		}
	}
}

@media screen and (min-width: 1700px) {
	.howto_slider .howto_child {
		max-height: 100%;
	}
}

/*********************************
mid section
*********************************/

.mid_section {
	background: #ED6D69;
	position: relative;
	padding-top: 7.08333%;

	&::before {
		content: "";
		background-image: url(../../images/recruit/mid_mask.png);
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		z-index: 1;
		opacity: 0.4;
	}
}

/*********************************
Owner
*********************************/

#owner {
	background-color: #00829E;
	box-sizing: border-box;
	padding-top: 6.41025%;
	padding-bottom: 6.41025%;
	padding-left: 9.5384%;
	padding-right: 7.5384%;
	position: relative;
	z-index: 40;
}

.owner_wrapper {
	align-items: flex-start;
	justify-content: space-between;
}

.owner_img {
	width: 37.31%;
	padding: 24.91% 0;
	background-image: url(../../images/recruit/owner_img_pc.jpg);
}

.owner_info {
	width: 48%;
	padding-top: 0%;
	color: #F8FF24;

	p {
		span {
			display: block;
			margin: 6% 0 3rem 0;
		}

		font-size: clamp(12px, 1.6rem, 16px);
		letter-spacing: 0.1em;
		line-height: 2em;
	}
}

/*********************************
    staff_interview
*********************************/

#staff_interview {
	margin-top: 7.3717%;
	padding-bottom: 9.6875%;
	position: relative;
	z-index: 40;

	h2 {
		text-align: center;
		color: #0570B4;
		margin-top: 0;
	}
}

ul.staff_list {
	margin-top: 3.8461%;

	li {
		width: 48.0769%;
		color: #00829E;

		figure img {
			width: 100%;
		}

		.staff_text {
			align-items: flex-end;

			.staff_name {
				padding-top: 15px;
				width: 100%;

				h3 {
					font-size: clamp(14px, 1.6rem, 16px);
					letter-spacing: 0.2em;
					line-height: 1.75em;
					padding-bottom: 15px;
				}

				p {
					font-size: 14px;
					letter-spacing: 0.1em;
					line-height: 39px;
					overflow: hidden;

					span {
						background-color: #0570B4;
						padding: 5px;
						color: #fff;
					}
				}
			}

			a {
				color: #00829E;
				font-size: 16px;
				letter-spacing: 0.2em;
				font-family: 'roboto';
				position: relative;

				&::after {
					content: "";
					width: 100%;
					height: 1px;
					background: #00829E;
					display: block;
					position: absolute;
					bottom: -10px;
					left: 0;
				}

				img {
					padding-right: 10px;
				}
			}
		}
	}
}

/*********************************
    FLOW
*********************************/

#flow {
	background: #E5E188;
	padding-bottom: 6.5104%;

	.line_img {
		width: 100%;
		padding: 9.03645% 0;
		background-image: url(../../images/recruit/flow_bg.jpg);
		position: relative;

		img {
			width: 40.8854%;
			position: absolute;
			left: 0;
			bottom: -10px;
		}
	}

	.container {
		padding-top: 7.6923%;
		width: 62.5%;
		align-items: flex-start;
		justify-content: space-between;

		h2 {
			color: #FD6452;
			margin-top: 0;
		}
	}
}

.flow_wrapper {
	width: 72.5%;

	dl {
		color: #FD6452;
		margin-bottom: 2.8735%;

		dt {
			background: #fff;
			font-size: clamp(14px, 1.6rem, 16px);
			letter-spacing: 0.2em;
			font-weight: 600;
			position: relative;
			padding: 4% 0 4% 8%;
			box-sizing: border-box;
			border-radius: 50px;

			img {
				position: absolute;
				left: 9%;
				bottom: -61%;
				width: 0.65vw;
			}
		}

		dd {
			font-size: clamp(12px, 1.6rem, 16px);
			letter-spacing: 0.2em;
			font-weight: 300;
			padding: 2% 0 0 13.5%;
		}
	}
}

/*********************************
    mable
*********************************/

.mable {
	position: relative;
	background-color: #009E95;

	&::before {
		content: "";
		background-image: url(../../images/recruit/proud_mask.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		z-index: 1;
		opacity: 0.3;
		mix-blend-mode: multiply;
	}
}

/*********************************
    proud
*********************************/

.proud_wrap {
	padding-top: 5.208333%;
	background-color: #009E95;
	position: relative;

	.container {
		align-items: flex-end;
	}

	.flex {
		position: relative;
		z-index: 40;
	}

	figure {
		img {
			width: 100%;
		}

		&.proud_01 {
			width: 40.3846%;
		}

		&.proud_02 {
			width: 56.4102%;
		}
	}

	img.flt_proud_img {
		width: 40.46875%;
		position: absolute;
		bottom: 27%;
		right: 0;
		left: 0;
		margin: auto;
		z-index: 50;
	}
}

.next_proud_wrap {
	justify-content: flex-end;
	margin-top: 2.3%;
	position: relative;

	figure {
		&.proud_03 {
			width: 45.9895%;
			margin-right: 2.3%;
		}

		&.proud_04 {
			width: 24.375%;
		}
	}
}

/*********************************
    REQUIRE
*********************************/

#requirements {
	background-color: #fff;
	position: relative;
	z-index: 20;
	padding-top: 13.1770%;
	margin-top: -7.29166%;
	padding-bottom: 7.8125%;
	width: 92%;
	margin-right: auto;

	.container_min {
		width: 62.5%;
		margin: 0 auto;
		position: relative;
		z-index: 50;
	}
}

/* #requirements::after {
    content: "";
    width: 9.375%;
    height: 100%;
    position: absolute;
    background-color: #009E95;
    top: 0;
    z-index: -1!important;
    right: 0;
} */

.require_info {
	position: relative;
	border-top: 1px solid #959595;
	margin-top: 4.1666%;
	padding-top: 5%;
}

#requirements .require_info::before {
	content: "";
	width: 40.5%;
	height: 1px;
	top: 0;
	left: 0;
	background: #000;
	position: absolute;
}

.require_info dl {
	width: 73.1666%;
	padding-bottom: 2.6195%;
	margin-bottom: 2.6195%;
	border-bottom: 1px dotted #959595;
	align-items: flex-start;

	dt {
		width: 30.5125%;
		font-size: clamp(14px, 1.6rem, 16px);
		letter-spacing: 0.1em;
		line-height: 2em;
	}

	dd {
		width: 75.4874%;
		font-size: clamp(14px, 1.6rem, 16px);
		letter-spacing: 0.1em;
		line-height: 2em;
		font-family: "Hiragino Kaku Gothic ProN";

		span {
			display: inline-block;
			margin-bottom: 2%;

			&.under {
				margin-bottom: 0;
				line-height: 1.3em;
				background: linear-gradient(transparent 60%, #F1F587 80%);
			}
		}

		iframe {
			width: 100%;
			height: 188px;
		}
		div {
			position: relative;
			margin-bottom: 20px;
			p {
				position: absolute;
				left: -75px;
				top: 0;
				text-align: center;
			}
			p.second {
				left: -20%;
			}
		}
	}
}

/*********************************
    brand
*********************************/
#brand {
	padding-top: 12rem;
	.brand_container {
		h2 {
			text-align: center;
			color: #ED6D69;
			margin-bottom: 10rem;
		}
		.flex {
			.brand_item {
				width: 33.3333%;
				.brand_thumb {
					@include v.bg;
					width: 100%;
					padding-top: 68.75%;
				}
				.item1 {
					background-image: url(./../images/brand_img.jpg);
				}
				.brand_info {
					position: relative;
					box-sizing: border-box;
					padding: 4rem 4rem 5rem 7rem;
					h3 {
						margin-bottom: 8px;
						span {
							font-size: clamp(15px,2rem,25px);
							letter-spacing: 0.2em;
							display: block;
							font-weight: normal;
						}
						small {
							font-size: 10px;
							line-height: 3;
							letter-spacing: 0.4em;
							display: block;
						}
					}
					p {
						font-size: 12px;
						letter-spacing: 0.2em;
						line-height: 2.5;
						margin-bottom: 4rem;
						a {
							color: #000;
						}
					}
					.flex {
						justify-content: space-between;
						div {
							img {
								display: inline-block;
								vertical-align: middle;
								padding-right: 10px;
							}
							span {
								font-size: 16;
								display: inline-block;
								vertical-align: middle;
							}
						}
					}
					.cat {
						position: absolute;
						top: 4rem;
						right: 4rem;
						span {
							font-size: 12px;
							letter-spacing: 0.2em;
							border: 1px solid #000;
							border-radius: 25px;
							width: 80px;
							display: inline-block;
							text-align: center;
						}
					}
				}
			}
		}
	}
}


/*********************************
    ENTRY
*********************************/

#entry {
	background: #009E95;
	padding-top: 9.375%;
	padding-bottom: 7.8125%;

	.container {
		position: relative;
		z-index: 40;
	}

	h2 {
		text-align: center;
	}

	p {
		text-align: center;
		font-size: clamp(14px, 1.6rem, 16px);
		letter-spacing: 0.1em;
		margin-top: 60px;
		margin-bottom: 70px;
	}

	.container {
		background-color: #fff;
		padding-top: 6.089%;
		padding-bottom: 6.41025%;
	}
}

.entryform_wrapper {
	width: 790px;
	margin: 0 auto;

	dl {
		margin-bottom: 28px;

		dt {
			font-size: clamp(14px, 1.6rem, 16px);
			letter-spacing: 0.1em;
			width: 18.98734%;
		}

		dd {
			width: 78.86075%;

			input {

				&[type="text"],
				&[type="email"],
				&[type="tel"],
				&[type="date"] {
					width: 100%;
					font-size: clamp(14px, 1.6rem, 16px);
					box-sizing: border-box;
					padding: 10px 25px;
					border: 1px solid #000;
				}
			}

			textarea {
				width: 100%;
				box-sizing: border-box;
				padding: 10px 25px;
				border: 1px solid #000;
			}

			label {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				margin-right: 30px;

				span {
					display: block;
					font-size: clamp(14px, 1.6rem, 16px);
				}
			}
		}
	}
}

.send_wrap {
	text-align: center;
}

.entryform_wrapper input.send {
	width: 250px;
	margin: 0 auto;
	text-align: center;
	padding: 17px 20px 18px 0;
	background-color: #fff;
	border-radius: 50px;
	border: 1px solid #000;
	font-size: 16px;
	color: #000;
}

@media screen and (max-width: 768px) {
	/*********************************
  MV
  *********************************/

	.recruit_mv {
		flex-wrap: wrap;

		.left_img,
		.right_img {
			width: 100%;
			height: 50%;
		}

		img {
			width: 84%;
		}
	}

	ul.anchor_link {
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-around;

		li {
			padding: 0 7.2%;
			margin-bottom: 15px;

			a {
				font-size: 11px;
				display: block;
				text-align: center;
			}
		}
	}

	span.message_alpha {
		font-size: 150px;
		right: -255px;
		top: 380px;
	}

	/*********************************
  message
  *********************************/

	#message {
		padding-bottom: 128px;
		padding-top: 30px;
		overflow: hidden;
	}

	.message_img {
		width: 100%;
		flex-wrap: wrap;
	}

	#message .message_wrapper {
		width: 100%;
	}

	.message_img figure {
		&.m_left_img {
			width: 71.2%;
		}

		&.m_right_img {
			width: 84%;
			margin-left: auto;
			margin-top: 20px;
		}
	}

	.message_text_wrap {
		flex-wrap: wrap;

		p {
			width: 84%;
			margin: 0 auto;
			font-size: 12px;
			line-height: 22px;
		}

		figure {
			width: 69.3333%;
			margin-right: auto;
			margin-top: 30px;
			
		}
	}

	/*********************************
  HOW TO
  *********************************/

	#howto {
		padding-top: 48px;
		padding-bottom: 60px;

		h2 {
			color: #F8FF24;
			margin-bottom: 30px;
			@media screen and (max-width: 768px) {
				color: #000;
			}
		}
	}

	.howto_slider .howto_child {
		h4 {
			font-size: 16px;
			letter-spacing: 0.05em;
		}

		span.no {
			font-size: 24px;
			letter-spacing: 0.2em;
		}

		p {
			font-size: 12px;
			line-height: 20px;
		}
	}

	.slick-list {
		margin-left: 0%;
	}

	/*********************************
  OWNER MESSAGE
  *********************************/

	.mid_section {
		padding-top: 50px;
	}

	.owner_wrapper {
		flex-wrap: wrap;
	}

	.owner_img {
		width: 100%;
		padding: 0;
		height: 300px;
	}

	#owner {
		padding: 30px;
	}

	.owner_info {
		width: 100%;
	}

	#owner h2 {
		margin-top: 13px;
	}

	.owner_info p {
		font-size: 12px;
		margin-top: 25px;
		line-height: 1.5em;

		span.owner_name {
			display: none;
		}
	}

	ul.staff_list li {
		width: 100%;
		margin-bottom: 40px;
	}

	#staff_interview {
		margin-top: 48px;
	}

	ul.staff_list {
		margin-top: 20px;

		li .staff_text {
			.staff_name p {
				font-size: 12px;
			}

			flex-wrap: nowrap;

			a {
				flex-wrap: nowrap;
				font-size: 14px;
				position: absolute;
				right: 9%;
			}
		}
	}

	/*********************************
      FLOW
  *********************************/

	#flow {
		.line_img {
			padding: 0;
			height: 270px;
			background-image: url(../../images/recruit/flow_bg_sp.jpg);

			img {
				width: 315px;
				left: 0;
				right: 0;
				margin: auto;
			}
		}

		.container {
			width: 84%;
			padding-top: 0;

			h2 {
				width: 100%;
				text-align: center;
				margin-top: 38px;
				margin-bottom: 30px;
			}
		}
	}

	.flow_wrapper {
		width: 100%;

		dl {
			dd {
				padding: 20px 0 0 16px;
				letter-spacing: 0.01em;
				line-height: 22px;
			}

			dt img {
				width: 10px;
				left: -1%;
				bottom: -240%;
			}

			margin-bottom: 40px;
		}
	}

/*********************************
    mable
*********************************/

	.proud_wrap .container,
	.next_proud_wrap,
	.flt_proud_img {
		display: none;
	}

	.sp_proud_img {
		width: 100%;
		position: relative;
		z-index: 40;
	}

	.proud_wrap {
		padding-top: 50px;
	}

	/*********************************
      requirements
  *********************************/

	#requirements {
		padding-top: 58px;

		h2 {
			margin-bottom: 20px;
		}

		.container_min {
			width: 74%;
			margin-left: 8%;
			margin-right: 0;
		}
	}

	.require_info dl {
		width: 100%;
	}

	#requirements .require_info::before {
		width: 46px;
	}

	.require_info {
		dl {

			dt,
			dd {
				width: 100%;
				font-size: 12px;
			}

			dt {
				font-weight: 600;
				padding-top: 20px;
				padding-bottom: 10px;
			}

			dd {
				padding-bottom: 20px;
				line-height: 25px;
			}

			&:last-of-type {
				border-bottom: none;

				dd {
					padding-bottom: 0;
				}
			}
		}

		padding-bottom: 10px;
	}

	#entry {
		.container {
			width: 92%;
			padding-top: 38px;
		}

		p {
			font-size: 12px;
			line-height: 22px;
			margin-top: 30px;
			margin-bottom: 40px;
		}
	}

	.entryform_wrapper {
		width: 285px;

		dl {
			dt {
				font-size: 12px;
				letter-spacing: 0.05em;
				line-height: 23px;
				font-weight: 600;
				width: 100%;
			}

			dd {
				width: 100%;
				font-size: 12px;
				letter-spacing: 0.05em;
				line-height: 23px;
			}
		}
	}

	#entry {
		padding-bottom: 70px;
		padding-top: 48px;
	}

	/* #message .container {
      width: 317px;
  } */

	ul {
		&.anchor_link li {

			&::after,
			&:nth-child(1)::after,
			&:nth-child(2)::after,
			&:nth-child(4)::after {
				right: 0px;
			}
		}

		&.anchor_link_sp_third li {
			padding: 0 4.2%;
		}

		&.anchor_link_sp_second {
			width: 83%;

			li {
				padding: 0 5%;
			}
		}
	}

	.howto_slider {
		.slick-prev {
			top: 73px !important;
			background-size: 10px 20px;
			left: auto !important;
			right: 25%;
		}

		.slick-next {
			top: 73px !important;
			background-size: 10px 20px;
			left: auto !important;
			right: 11% !important;
		}
	}
}



/*************************************************************************************************
    変更箇所
*************************************************************************************************/
$backgroundColor: #fff;
$mainColor: #FF5800;

#message {
	background-color: $backgroundColor;;


	&::before {
		content: "";
		background-image: none;
	}

}

/*********************************
    MV
*********************************/

#mv {
	width: 100vw;
	height: 100vh;
	@include v.bg;
	background-image: url(./../images/mv_pc.jpg);
	.container {
		position: relative;
		height: 100%;
		img {
			width: 32%;
			position: absolute;
			bottom: 20%;
			@media screen and (max-width: 768px) {
				display: none;
			}
		}
	}
	@media screen and (max-width: 768px) {
		background-image: url(./../images/mv_sp.jpg);
	}
}


/*********************************
    MESSAGE
*********************************/
#message {
	position: relative;
	background-color: #F4F4F4;
	@media screen and (max-width: 768px) {
		padding-bottom: 0;
	}
	.message_alpha {
		position: absolute;
		right: 4%;
		top: 13%;
		z-index: 300;
		@media screen and (max-width: 768px) {
			top: 6%;
			right: 12%;
			width: 88px;
		}
		img {
			width: 80%;
			@media screen and (max-width: 768px) {
				width: 100%;
			}
		}
	}
	.message_img {
		.m_right_img {
			margin-top: 10rem;
			@media screen and (max-width: 768px) {
				width: 92%;
			}
		}
		@media screen and (max-width: 768px) {
			figure.m_left_img {
				width: 76%;
			}
		}
	}
	.message_text_wrap {
		
		div {
			background-color: #fff;
			width: 36%;
			padding-left: 11.375%;
			margin-left: -11.375%;
			padding-top: 7rem;
			padding-bottom: 7rem;
			position: relative;
			z-index: 50;
			margin-top: -7rem;
			@media screen and (max-width: 768px) {
				margin-left: auto;
				margin-right: auto;
				background-color: #F4F4F4;
				width: 84%;
				padding-left: 0;
				margin-top: 40px;
				padding-top: 0;
				padding-bottom: 0;
				margin-bottom: 40px;
			}
		}
		strong {
			font-size: clamp(24px,3.2rem,40px);
			letter-spacing: 0.2em;
			line-height: 1.375;
			display: block;
			font-weight: normal;
		}
		p {
			width: auto;
		}
	}
	.message_text_wrap figure {
		margin-top: -21.5%;
		margin-left: 17%;
		@media screen and (max-width: 768px) {
			width: 100%;
			margin-top: 0;
			margin-left: 0;
		}
	}
	.message_text_wrap p {
		color: #000;

	}
}

/*********************************
    howto
*********************************/
$slideColor: #fff;
$markerColor: #fff;

#howto {
	background-image: url(./../images/philosophy_bg.jpg);
	overflow: hidden;
}


.howto_slider {
	.howto_child {
		background-color: $slideColor;

		h4 {

			span {
				border-bottom: none;
			}
		}

		p {

			span {
				background-color: $markerColor;
			}
		}
	}

}


/*********************************
Owner
*********************************/
$ownerinnerBackgroundColor: #EAEAEA;
$ownerBgColor: #fff;

#owner {
	background-color: $ownerinnerBackgroundColor;
}

.owner_img {
	background-image: url(./../images/owner_img_pc.jpg);
}

.owner_info {
	color: $mainColor;
}

.mid_section {
	background: $ownerBgColor;

	&::before {
		content: "";
		background-image: none;
	}
}

/*********************************
    staff_interview
*********************************/

#staff_interview {
	h2 {
		color: $mainColor;
	}
}

ul.staff_list {
	li {
		color: $mainColor;
		.staff_text {
			.staff_name {

				p {

					span {
						background-color: $mainColor;
						color: #fff;
					}
				}
			}

			a {
				color: $mainColor;

				&::after {
					background: $mainColor;

				}

			}
		}
	}
}


/*********************************
    FLOW
*********************************/
$flowBgColor: #EAEAEA;

#flow {
	background: $flowBgColor;

	.line_img {
		background-image: url(./../images/flow_bg.jpg);

	}

	.container {

		h2 {
			color: #000;
		}
	}
}

.flow_wrapper {
	dl {
		color: #000;

		dt {
			background: #fff;

		}
	}
}


/*********************************
    mable
*********************************/
$mableBgColor: #F4F4F4;
.mable {
	background-color: $mableBgColor;

	&::before {
		background-image: none;
	}
}


/*********************************
    proud
*********************************/
$proudColor: #F4F4F4;
.proud_wrap {
	background-color: $proudColor;

}

/*********************************
    REQUIRE
*********************************/

#requirements {
	background-color: #fff;
	h2.sec_ttl {
		color: $mainColor;
	}
}


.require_info {
	border-top: 1px solid #959595;
}

#requirements .require_info::before {
	background: #000;
}

.require_info dl {
	border-bottom: 1px dotted #959595;

	dd {

		span {

			&.under {
				background: linear-gradient(transparent 60%, #fff 80%);
			}
		}
	}
}



/*********************************
    ENTRY
*********************************/
$entryBgColor: #F4F4F4;
#entry {
	background: $entryBgColor;
	h2.sec_ttl {
		color: $mainColor;
	}

	.container {
		background-color: #fff;
	}
	.entryform_wrapper {
		dl {
			dt {
				p {
					margin-top: 0;
					margin-bottom: 0;
					@media screen and (max-width: 768px) {
						text-align: left;
					}
				}
			}
			dd {
				width: 78.86075%;
				@media screen and (max-width: 768px) {
					width: 100%;
				}
				p {
					margin-top: 0;
					margin-bottom: 0;
					text-align: left;
				}
				input {
	
					&[type="text"],
					&[type="email"],
					&[type="tel"],
					&[type="date"] {
						border: 1px solid #000;
					}
				}
	
				textarea {
					border: 1px solid #000;
				}
			}
		}
	}
}



.entryform_wrapper input.send {
	background-color: #fff;
	border: 1px solid #000;
	color: #000;
}

/*********************************
    CONTACT
*********************************/
#contact {
	background: #fff;
	text-align: center;
	padding-top: 10rem;
	padding-bottom: 9rem;
	@media screen and (max-width: 768px) {
		display: none;
	}
	h2 {
		color: $mainColor;
	}
	p {
		color: $mainColor;
		font-size: clamp(12px,1.6rem,20px);
		margin-top: 4rem;
		margin-bottom: 6rem;
	}
	a.common_btn {
		border: 1px solid $mainColor;
		color: $mainColor;
		font-weight: normal;
	}
	ul {
		width: 560px;
		margin: auto;
		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}
}

/*********************************
    FOOTER
*********************************/
$footerBg: #EAEAEA;
#footer {
    background-color: $footerBg;
	@media screen and (max-width: 768px) {
		padding-top: 30px;
	}
    .ft_left {

        h3 {
            color: $mainColor;
			font-weight: normal;
        }

        ul {

            li {
				
                a {
                    color: $mainColor;
					
                }
            }
        }

        small {
            color: $mainColor;
        }
		ul {
			border-bottom: 1px solid $mainColor;
		}
    }

    .ft_right {
		border-left: 1px solid $mainColor;
        h3 {
            p {
                color: $mainColor;
            }

            span {
                color: $mainColor;
            }
        }

        ul li {

            a {
                color: $mainColor;
                border-color: $mainColor;
				font-weight: normal;
				width: 30%;
            }

            b {
                color: $mainColor;
				font-family: 'Roboto', sans-serif;
            }

            p {
                color: $mainColor;
            }
			.insta_list {
				justify-content: flex-start;
				a {
					margin-right: 20px;
					span {
						display: inline-block;
						font-size: 16px;
						padding-left: 10px;
					}
				}
			}

        }
    }
}