// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// @font-face {
// font-family: 'midashi';
// src: url('./fonts/A-OTF-MidashiGoPro-MB31.woff') format('woff');
// font-weight: normal;
// }
@font-face {
    font-family: 'din';
    src: url('./fonts/DIN-Condensed-Bold.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'sawarabi';
    src: url('./fonts/SawarabiGothic-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'avenir';  /* 任意のフォント名を設定 */
    src: url('./fonts/AvenirLTStd-Roman.otf');  /* フォントファイルへのパスを設定 */
    format: ('opentype');  /* フォントのフォーマットを指定 */
}
@font-face {
    font-family: 'line';  /* 任意のフォント名を設定 */
    src: url('./fonts/LINESeedJP_OTF_Rg.otf');  /* フォントファイルへのパスを設定 */
    format: ('opentype');  /* フォントのフォーマットを指定 */
    font-weight: normal;
}
@font-face {
    font-family: 'line';  /* 任意のフォント名を設定 */
    src: url('./fonts/LINESeedJP_OTF_Bd.otf');  /* フォントファイルへのパスを設定 */
    format: ('opentype');  /* フォントのフォーマットを指定 */
    font-weight: bold;
}

